@import './root.css';

body {
  font-family:
    Quicksand,
    sans-serif;
  }

main {
  background-color: var(--color-background-main);
}

h1 {
  color: var(--color-heading-1);
  background-color: var(--color-background-heading);
  margin: 0;
}

h2 {
  margin: 0;
}