@import './root.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family:
    "Quicksand",
    sans-serif;
  }

main {
  background-color: var(--color-background-main);
}

h1 {
  color: var(--color-heading-1);
  background-color: var(--color-background-heading);
  margin: 0;
}

h2 {
  margin: 0;
}