@import './root.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
  font-family:
    "Quicksand",
    sans-serif;
  }

main {
  background-color: var(--color-background-main);
}

h1 {
  color: var(--color-heading-1);
  background-color: var(--color-background-heading);
  margin: 0;
  padding: 10px;
  /* center */
}

h2 {
  margin: 0;
}

.button {
  background-color: var(--color-button);
  border-radius: 9px;
  margin: 32px 0;
  padding: 10px;
  width: max-content;
  /* hug statt fill */
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}