/* color palette from  ik-k.ch */
:root {
  --schwarz: #323D4A;
  --hellgrün: #E9F2DA;
  --dunkelgrün: #9CBC64;
  --gelb: #DEE86F;
  --hellgelb: rgba(222,232,111,0.2);
}

/* semantic color variables for this project */
:root {
  --color-background-header: var(--dunkelgrün);
  --color-background-heading: var(--hellgrün);
  --color-background-body: var(--dunkelgrün);
  --color-background-main: var(--dunkelgrün);
  --color-background-card: var(--hellgrün);
  --color-background-footer: var(--hellgrün);

  --color-border: var(--dunkelgrün);
  --color-input: var(--hellgelb);
  --color-button: var(--gelb);
  
  --color-heading-1: var(--schwarz);
  --color-heading-2: var(--rot);
  --color-card-date: var(--rot);

  --section-gap: 160px;
}
